<div class="container">
  <div class="search-input">
    <label for="search-input">Search here:</label>
    <input
      id="search-input"
      class="form-control"
      [formControl]="searchForm"
      placeholder="Enter your search text"
    />
  </div>

  <div class="result-container row mt-4">
    <div
      class="d-flex align-items-center col-3 p-2"
      *ngFor="let gif of gifs$ | async"
      (click)="openSlideshow(gif)"
    >
      <img
        *ngIf="gif.images.fixed_width_downsampled as image"
        [src]="image.url"
      />
    </div>
  </div>

  <ngb-pagination
    [page]="pageIndex$"
    [pageSize]="20"
    [collectionSize]="pagesCount$ | async"
    [boundaryLinks]="true"
    [ellipses]="false"
    [maxSize]="5"
  ></ngb-pagination>
</div>
